{
    "server_url": "wss://spc.hemirt.com",
    "server_password": "SERVER_PASSWORD",
    "user_name": "USER_NAME",
    "channels": [
        {
            "local_chatterino_split": "/spc",
            "remote_server_room": "spc1",
            "secret_key": "ROOM_SECRET_KEY"
        }
    ], 
    "timezone": 2,
    "ping_interval": 15
}